.pays {
    background-color: rgb(247, 254, 229);
    padding: 50px 250px;

    &__titre {
        font-size: 3rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1rem;
    }

    & .destination__list:hover {
        background-color: aquamarine;
    }

    & svg {
        width: 120vw;
        transform: translate(-250px);
        animation: wave-anim 3s ease-in-out infinite alternate;
    }
}

@keyframes wave-anim {    
    100% {
        transform: translateX(-500px);
    }
}