.err {
    &__titre {
        width: fit-content;
        margin: 0 auto;
        background-color: rgb(245, 245, 245, 0.25);
    }

    &__description {
        width: fit-content;
        margin: 0 auto;
        background-color: rgb(245, 245, 245, 0.25);
    }
}